# Build output
x64/
Debug/
Release/
*.exe
*.pdb
*.ilk
*.obj
*.idb
*.tlog
*.enc
*.log

# Visual Studio files
.vs/
*.user
*.suo
*.vcxproj.filters
*.VC.db
*.VC.opendb
ipch/

# Compiled
*.lib
*.dll
*.exp
